body,
html {
  background-color: #273c54;
  font-family: 'Gidole';
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Gidole';
  src: url('../fonts/Gidole-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roc-grotesk';
  src: url('../fonts/Roc-Grotesk-Bold.otf');
  font-weight: 400;
  font-style: normal;
}

#wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1%;
  display: grid;
  grid-template-rows: 4em 1fr 2em;
  box-sizing: border-box;
}

#navbar {
  width: 100%;
  display: flex;
  gap: 4%;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  margin: 24px;
  height: 120%;
  max-width: 120%;
}

.navbar-link {
  text-decoration: none;
  color: whitesmoke;
  font-size: 24px;
  line-height: 30px;
}

.navbar-link:hover {
  color: #edd464;
}

#main-content {
  color: whitesmoke;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

#left-div {
  display: flex;
  justify-content: left;
  flex-direction: column;
  text-align: left;
  row-gap: 8px;
}

#name-div {
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#name {
  font-size: 8em;
  margin: 0;
  font-family: 'roc-grotesk';
}

#description {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  color: #edd464;
}

#get-started {
  text-align: center;
  text-decoration: none;
  color: #273c54;
  background-color: whitesmoke;
  border-radius: 25px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 14px;
  padding-right: 14px;
  width: max-content;
  height: min-content;
  justify-self: center;
  margin-top: 8px;
}

#get-started:hover {
  background-color: #edd464;
}

#bottomBar {
  bottom: 1%;
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 8px;
}

.social-link {
  height: 100%;
  width: 2em;
}

#github-icon {
  margin: 0;
  height: 100%;
  background-size: contain;
  background-image: url('../images/github-mark-white.png');
}

#discord-icon {
  margin: 0;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-image: url('../images/discord-mark-white.png');
}

@media only screen and (max-width: 768px) {
  #get-started {
    padding: 4%;
    width: fit-content;
  }
  #name {
    font-size: 3em;
  }
  #name-div {
    height: 2em;
  }
  #description {
    font-size: 12px;
    line-height: 16px;
  }
  #main-content {
    gap: 2%;
  }
}
